.color{
  background-color: rgb(67,92,89);
      text-align: center;
      margin-bottom: 30px;
      border-width: 1px;
      border-radius: 30px;
  }
.btn-color{
  background-color: rgb(67,92,89);
  }