

body{
    width: 100vw;
    height: 100vh;
    background-image: url(../../../utils/images/pexels-julie-viken-148496-593451.jpg);
    background-size: cover;

}

.introPage{
    padding-top: 20%;
    padding-right: 15%;

}