<div class="col-12  color p-4 mb-12 ">
  </div>
<div class="container panelContainer mt-12">
<div class="conrainerCustomBottomHeade">
  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-5 col-lg-4 col-xl-3  panel" style="z-index: 100;">
      <div class="menu-secton">
        <div *ngIf="token" class="menu-top-section">
          <div class="profile-summary-backdrop">
            <div class="profile-summary-pic">
              <img  src={{token.image_url}} alt="">
            </div>

          </div>
          <div class="profile-summary-item-container">
            <ul>
              <li >
                <span class="key">نام و نام خانوادگی</span>
              <span class="val">{{token.firstname}}&nbsp;{{token.lastname}}</span>
              </li>
              <li class="lp-profile-summary-logout mt-2" (click)="logout()">
                <span class="icon"><i class="fas fa-power-off"></i></span>
                <span  class="val">خروج</span>
              </li>
              <li>
                <span class="key">تاریخ اخرین ورود</span>
                <span  class="val">الان</span>
               <!-- <span class="val">{{user.updated_at}}</span>-->
              </li>
            </ul>
          </div>
        </div>
        <div class="menu-bootom-section">

          <ul>

            <li *ngIf="token.role=='pharmacits' || token.role=='admin'" class="nav-item">
              <a class="nav-link collapsed" data-bs-toggle="collapse" href="#submenu4" role="button"
                aria-expanded="false" aria-controls="submenu4">
                <span>  دارو</span>
                <i class="fas fa-caret-down left mt-3"></i>
              </a>
            </li>
            <div class="collapse" id="submenu4">
              <li [routerLinkActive]='["active"]'>
                <a href="#" [routerLink]='["drug/add"]' class="nav-link nav-color ">
                  <span> افزودن  دارو </span>
                </a>
              </li>
              <li class="nav-item" [routerLinkActive]='["active"]'>
                <a href="#" [routerLink]='["drug/list"]' class="nav-link ">
                  <span> لیست داروها </span>
                </a>
              </li>
            </div>

              <li *ngIf="!token" class="nav-item">
                <a class="nav-link collapsed" data-bs-toggle="collapse" routerLink="loginPage" role="button"
                  aria-expanded="false" aria-controls="submenu3">
                  <span> ورود </span>
                  <i class="fas fa-caret-down left mt-3"></i>
                </a>
              </li>
              <li *ngIf="!token" class="nav-item">
                <a class="nav-link collapsed" data-bs-toggle="collapse" routerLink="register" role="button"
                  aria-expanded="false" aria-controls="submenu3">
                  <span>    ثبت نام </span>
                  <i class="fas fa-caret-down left mt-3"></i>
                </a>
              </li>    
              <li  class="nav-item">
                <a class="nav-link collapsed" data-bs-toggle="collapse" routerLink="doctors" role="button"
                  aria-expanded="false" aria-controls="submenu3">
                  <span> پزشک ها</span>
                  <i class="fas fa-caret-down left mt-3"></i>
                </a>
              </li>
              
            

              <li class="nav-item">
                <a class="nav-link collapsed" data-bs-toggle="collapse" routerLink="drugs" role="button"
                  aria-expanded="false" aria-controls="submenu3">
                  <span>  داروها</span>
                  <i class="fas fa-caret-down left mt-3"></i>
                </a>
              </li>    
              <li class="nav-item">
                <a class="nav-link collapsed" data-bs-toggle="collapse" routerLink="pharmacy" role="button"
                  aria-expanded="false" aria-controls="submenu3">
                  <span> شرکت های دارو سازی </span>
                  <i class="fas fa-caret-down left mt-3"></i>
                </a>
              </li>    
      
              <li  class="nav-item">
                <a class="nav-link collapsed" data-bs-toggle="collapse" routerLink="prescription" role="button"
                  aria-expanded="false" aria-controls="submenu3">
                  <span> افزودن نسخه</span>
                  <i class="fas fa-caret-down left mt-3"></i>
                </a>
              </li>               
          </ul>
          
        </div>
      </div>
    </div>

    <div class="info col-xs-12 col-sm-5 col-md-7 col-lg-8 col-xl-9">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
</div>

