<div class="nav ">
    <div class="color m card-body">
      <span><a routerLink="/home"   >دارویار</a><i class="bi bi-arrow-left color mr-2 ml-2"></i><a routerLink="/drugs"> دارو ها</a> <i class="bi bi-arrow-left color mr-2 ml-2"></i> {{drug.ATTC_code}}</span> 
    </div>
    </div>

    <div class="d-flex justify-content-center align-items-center w">
    <div class="card h-100">
      <div class="card-img h-100 ">
        <img class="card-img-top h-100" src={{drug.image_url}} alt="Card image cap">
      </div>
        <div class="card-body ">
          <div class=" card-body-title">
          <h5 class="card-text"> {{drug.strengh}}</h5>
          <p class="card-title"> کد محصول : {{drug.ATTC_code}} </p>
          <p class="card-title">نام محصول : {{drug.drug_name}} </p>
          <p class="card-title">توضیحات محصول : {{drug.description}} </p>
        <p>{{drug.disc}}</p>
        </div>
        </div>
      </div>
    </div>