<div class="width gradient-custom">
    <div class="container  h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-9">
                <div class="card bg-white " style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5  ">
                        <form [formGroup]="registerForm">
                            <h2 class="fw-bold mb-2 text-uppercase">ثبت نام</h2>
                            <p class=" mb-5">اطلاعات خود را ثبت کنید </p>

                            <div class="row mb-3">
                                <div class="col-lg-6 col-12">
                                  <div class="form-group">
                                    <label class="form-label"> کد ملی <span class="text-danger">*</span> </label>
                                    <input type="text" formControlName="codemeli" class="form-control form-control-lg form-control-solid ">
                                    <div class="hint">
                                      <div *ngIf="submitted &&  registerForm.get('codemeli')?.errors?.['required']">
                                        <span>پر کردن این فیلد اجباری است</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                  <div class="form-group">
                                    <label class="form-label"> نام <span class="text-danger">*</span> </label>
                                    <input type="text" formControlName="firstname" class="form-control form-control-lg form-control-solid ">
                                    <div class="hint">
                                      <div *ngIf="submitted &&  registerForm.get('firstname')?.errors?.['required']">
                                        <span>پر کردن این فیلد اجباری است</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                </div>

                               
                                <div class="row mb-3">
                                    <div class="col-lg-6 col-12">
                                      <div class="form-group">
                                        <label class="form-label"> نام خانوادگی  <span class="text-danger">*</span> </label>
                                        <input type="text" formControlName="lastname" class="form-control form-control-lg form-control-solid ">
                                        <div class="hint">
                                          <div *ngIf="submitted &&  registerForm.get('lastname')?.errors?.['required']">
                                            <span>پر کردن این فیلد اجباری است</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                      <div class="form-group">
                                        <label class="form-label"> ایدی اعضای خانواده <span class="text-danger">*</span> </label>
                                        <input type="text" formControlName="Relatives_id" class="form-control form-control-lg form-control-solid ">
                                        <div class="hint">
                                          <div *ngIf="submitted &&  registerForm.get('Relatives_id')?.errors?.['required']">
                                            <span>پر کردن این فیلد اجباری است</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    </div>
                               
                                    <div class="row mb-3">
                                      <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                          <label class="form-label"> رمز   <span class="text-danger">*</span> </label>
                                          <input type="text" formControlName="password" class="form-control form-control-lg form-control-solid ">
                                          <div class="hint">
                                            <div *ngIf="submitted &&  registerForm.get('password')?.errors?.['required']">
                                              <span>پر کردن این فیلد اجباری است</span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                          <label class="form-label"> آدرس  <span class="text-danger">*</span> </label>
                                          <input type="text" formControlName="address" class="form-control form-control-lg form-control-solid ">
                                          <div class="hint">
                                            <div *ngIf="submitted &&  registerForm.get('address')?.errors?.['required']">
                                              <span>پر کردن این فیلد اجباری است</span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      </div>
    

                                    <div class="row mb-3">
                                   
        <div class="col-lg-6 col-12">
            <div class="form-group">
              <ng-persian-datepicker [dateGregorianFormat]="'YYYY-MM-DD'" calendar.gregorian.locale
                [dateInitValue]="false">
                <label class="form-label">تاریخ تولد <span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-lg form-control-solid" #publishDate
                  [value]="(publishDate.value | farsiNumber)" formControlName="birthday" placeholder="تاریخ تولد" />
              </ng-persian-datepicker>
  
              <div *ngIf="submitted && registerForm.controls['birthday'].invalid" class="hint">
                <div *ngIf="registerForm.get('birthday')?.errors?.['required']">
                  <span>پر کردن این فیلد اجباری است</span>
                </div>
              </div>
            </div>
          </div>
                            
                                      <div  class="col-lg-6 col-md-6 col-sm-12" >
                                        <!-- Gender -->
                                        <div class="form-group">
                                          <label class="form-label">جنسیت <span class="text-danger">*</span></label>
                                          <div>
                                            <div class="form-check form-check-inline mt-3 mb-4">
                                              <input class="form-check-input" type="radio" formControlName="gender" id="gender1" value="مذکر"
                                                name="gender" />
                                              <label class="form-check-label" for="gender1"> مذکر </label>
                                            </div>
                                            <div class="form-check form-check-inline mt-3 mb-4">
                                              <input class="form-check-input" type="radio" formControlName="gender" id="gender2" value="مونث"
                                                name="gender" />
                                              <label class="form-check-label" for="gender2"> مونث </label>
                                            </div>
                                          </div>
                                          <div *ngIf="submitted && registerForm.controls['gender'].invalid" class="hint">
                                            <div *ngIf="registerForm.get('gender')?.errors?.['required']">
                                              <span>پر کردن این فیلد اجباری است</span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="row mb-3">
                                    

                                    <div    class="col-lg-6 col-12 margin-item mb-3" formArrayName="type2">
                                      <div *ngFor="let item of type2.controls; let i = index; let first = first" id="item-container-{{i}}" class=" input-group mb-2">
                                        <div class="form-group input-group w-100">
                                          <div class=" input-group " [formGroupName]="i">
                                            <input class="form-control form-control-lg form-control-solid"style="" id="item-{{i}}" placeholder="نام">
                                            <input class="form-control form-control-lg form-control-solid"style="" id="item-{{i}}" formControlName="mobile" placeholder=" شماره موبایل">
                                            <button type2="button" *ngIf="first" class="btn btn-primary  input-group-text wid  " (click)="addPatient()"><span class="fs-2">+</span></button>
                                            <button type2="button" *ngIf="!first" class="btn btn-danger btnArray input-group-text wid " (click)="type2.removeAt(i)" ><span class="fs-2">-</span></button>
                                            <div  *ngIf="submitted && type2.controls[i].invalid" class="hint hint-m">
                                              <div *ngIf="type2.controls[i].errors?.['required']">
                                                <span >پر کردن آیتم ۱ الزامی است</span>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="col-lg-6 col-12 mb-5" >
                                      <label class="form-label">     نوع بیمه   <span class="text-danger">*</span></label>
                                      <select    class="form-select form-select-lg form-select-solid"  formControlName="bime">
                                        <option  value="1" >پزشک</option>
                                        <option value="2"> بیمار</option>
                                        <option  value="3" >اعضای خانواده بیمار</option>
                                        <option value="4">شرکت دارویی </option>
                                    </select>
                                    </div>

                                    </div>
                                    
                            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5"
                            type="button"  (click)="add()">ثبت</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
