<div class="width gradient-custom">
    <div class="container  h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-9">
                <div class="card bg-white " style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5  ">
                        <form [formGroup]="doctorForm">
                            <h2 class="fw-bold mb-2 text-uppercase">ثبت نام</h2>
                            <p class=" mb-5">اطلاعات خود را ثبت کنید </p>

                               

                               
                                <div class="row mb-3">
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                          <label class="form-label"> نام <span class="text-danger">*</span> </label>
                                          <input type="text" formControlName="firstname" class="form-control form-control-lg form-control-solid ">
                                          <div class="hint">
                                            <div *ngIf="submitted &&  doctorForm.get('firstname')?.errors?.['required']">
                                              <span>پر کردن این فیلد اجباری است</span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>   
                                    <div class="col-lg-6 col-12">
                                      <div class="form-group">
                                        <label class="form-label"> نام خانوادگی  <span class="text-danger">*</span> </label>
                                        <input type="text" formControlName="lastname" class="form-control form-control-lg form-control-solid ">
                                        <div class="hint">
                                          <div *ngIf="submitted &&  doctorForm.get('lastname')?.errors?.['required']">
                                            <span>پر کردن این فیلد اجباری است</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    </div>
                               

                                    
                                    <div class="row mb-3">
                                        <div class="col-lg-6 col-12">
                                          <div class="form-group">
                                            <label class="form-label"> شهر  <span class="text-danger">*</span> </label>
                                            <input type="text" formControlName="city" class="form-control form-control-lg form-control-solid ">
                                            <div class="hint">
                                              <div *ngIf="submitted &&  doctorForm.get('city')?.errors?.['required']">
                                                <span>پر کردن این فیلد اجباری است</span>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
  
                                        <div class="col-lg-6 col-12">
                                          <div class="form-group">
                                            <label class="form-label"> بیمارستان  <span class="text-danger">*</span> </label>
                                            <input type="text" formControlName="hospital" class="form-control form-control-lg form-control-solid ">
                                            <div class="hint">
                                              <div *ngIf="submitted &&  doctorForm.get('hospital')?.errors?.['required']">
                                                <span>پر کردن این فیلد اجباری است</span>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        </div>
                                        
                                        <div class="row mb-3">
                                            <div class="col-lg-6 col-12">
                                              <div class="form-group">
                                                <label class="form-label"> تخصص  <span class="text-danger">*</span> </label>
                                                <input type="text" formControlName="expertise" class="form-control form-control-lg form-control-solid ">
                                                <div class="hint">
                                                  <div *ngIf="submitted &&  doctorForm.get('expertise')?.errors?.['required']">
                                                    <span>پر کردن این فیلد اجباری است</span>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
      
                                            <div class="col-lg-6 col-12">
                                              <div class="form-group">
                                                <label class="form-label"> کد نظام پزشکی<span class="text-danger">*</span> </label>
                                                <input type="text" formControlName="code" class="form-control form-control-lg form-control-solid ">
                                                <div class="hint">
                                                  <div *ngIf="submitted &&  doctorForm.get('code')?.errors?.['required']">
                                                    <span>پر کردن این فیلد اجباری است</span>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            </div>
                                            
                                    <div class="row mb-3">
                                      <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                          <label class="form-label"> رمز   <span class="text-danger">*</span> </label>
                                          <input type="text" formControlName="password" class="form-control form-control-lg form-control-solid ">
                                          <div class="hint">
                                            <div *ngIf="submitted &&  doctorForm.get('password')?.errors?.['required']">
                                              <span>پر کردن این فیلد اجباری است</span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                          <label class="form-label"> آدرس  <span class="text-danger">*</span> </label>
                                          <input type="text" formControlName="address" class="form-control form-control-lg form-control-solid ">
                                          <div class="hint">
                                            <div *ngIf="submitted &&  doctorForm.get('address')?.errors?.['required']">
                                              <span>پر کردن این فیلد اجباری است</span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      </div>
                                
                                    <div class="row mb-3">
                                   
        <div class="col-lg-6 col-12">
            <div class="form-group">
              <ng-persian-datepicker [dateGregorianFormat]="'YYYY-MM-DD'" calendar.gregorian.locale
                [dateInitValue]="false">
                <label class="form-label">تاریخ تولد <span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-lg form-control-solid" #publishDate
                  [value]="(publishDate.value | farsiNumber)" formControlName="birthday" placeholder="تاریخ تولد" />
              </ng-persian-datepicker>
  
              <div *ngIf="submitted && doctorForm.controls['birthday'].invalid" class="hint">
                <div *ngIf="doctorForm.get('birthday')?.errors?.['required']">
                  <span>پر کردن این فیلد اجباری است</span>
                </div>
              </div>
            </div>
          </div>
                            
          
                                      <div  class="col-lg-6 col-md-6 col-sm-12" >
                                        <!-- Gender -->
                                        <div class="form-group">
                                          <label class="form-label">جنسیت <span class="text-danger">*</span></label>
                                          <div>
                                            <div class="form-check form-check-inline mt-3 mb-4">
                                              <input class="form-check-input" type="radio" formControlName="gender" id="gender1" value="مذکر"
                                                name="gender" />
                                              <label class="form-check-label" for="gender1"> مذکر </label>
                                            </div>
                                            <div class="form-check form-check-inline mt-3 mb-4">
                                              <input class="form-check-input" type="radio" formControlName="gender" id="gender2" value="مونث"
                                                name="gender" />
                                              <label class="form-check-label" for="gender2"> مونث </label>
                                            </div>
                                          </div>
                                          <div *ngIf="submitted && doctorForm.controls['gender'].invalid" class="hint">
                                            <div *ngIf="doctorForm.get('gender')?.errors?.['required']">
                                              <span>پر کردن این فیلد اجباری است</span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                          <label class="form-label"> کد ملی  <span class="text-danger">*</span> </label>
                                          <input type="text" formControlName="codemeli" class="form-control form-control-lg form-control-solid ">
                                          <div class="hint">
                                            <div *ngIf="submitted &&  doctorForm.get('codemeli')?.errors?.['required']">
                                              <span>پر کردن این فیلد اجباری است</span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>


                                    
                            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5"
                            type="button"  (click)="add()">ثبت</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
