<div  class="card card-xl-stretch form mt-0">
  <div class="col-12 color p-1 mb-3 ">
  </div>
 
  <form  >
    <div class="card-body" >
<div class="row">
  <div class="col-lg-6 col-12 mb-5" >
    <label class="form-label">     حالت   <span class="text-danger">*</span></label>
    <select  (change)="checkValue2($event)"  class="form-select form-select-lg form-select-solid" >
      <option  value="" >انتخاب کنید</option>
      <option  value="1" >پزشک</option>
      <option value="2"> بیمار</option>
      <option  value="3" >اعضای خانواده یا پرستار بیمار </option>
      <option value="4"> داروساز </option>
  </select>
  </div>
    </div>
    <button  class="col-md-4 col-lg-3 col-xl-2 btn btn-color mt-3 " (click)="submitform()" >
      ثبت
     <i class="fa fa-spinner fa-pulse"></i>
   </button>
    </div>
  </form>
</div>

