<!--
<div class="container  h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-8 card-hight">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
           
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body  p-lg-4  d-flex flex-row">

          
                <div class="profile-summary-backdrop">
                    <div class="profile-summary-pic ">
                      <img  src="http://upload.wikimedia.org/wikipedia/commons/e/e1/Anne_Hathaway_Face.jpg" alt="">
                    </div>
                    
                  </div>

               
  

              </div>
              <div class="profile-titles ">
                <h2>پروفایل</h2>
                <span> نام و نام خانوادگی : مهیار شش پری </span>
                <span>شماره موبایل : 09301977016</span>
                <span>تاریخ تولد : 1400/02/02</span>
            </div>
            </div>
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <div 
                alt="login form" class="img-fluid  image-login" style="border-radius: 1rem 0 0 1rem;" >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
-->