<section class=" w-100 px-4 py-5 " style=" border-radius: .5rem .5rem 0 0;  ">
  <div class="row d-flex justify-content-center" style="height: 300px;">
    <div class="col col-md-9 col-lg-7 col-xl-8">
      <div class="color card" style="border-radius: 15px; height: 100%;">
        <div class="card-body p-4">
          <div class="d-flex">
            <div class="flex-shrink-0 ">
              <img src={{user.image_url}}
                alt="عکس یافت نشد  " class="img-fluid" style="width: 230px; border-radius: 10px;">
            </div>
            <div class="flex-grow-1 ms-3" style="margin-right: 5px;">
              <h5 class="mb-1">{{user.firstname }}{{user.lastname}} </h5>
              <p class="mb-2 pb-1"> {{user.role}} </p>
              <div class="d-flex justify-content-start rounded-3 p-2 mb-2 color">
                <div>
                  <p class="small text-muted mb-1">شماره موبایل</p>
                  <p class="mb-0">{{user.mobile}}</p>
                </div>
                <div class="px-3">
                  <p class="small text-muted mb-1">تاریخ تولد</p>
                  <p class="mb-0">{{user.birthday}}</p>
                </div>

              </div>
 
            </div>
            <div *ngIf="user.role=='relatives'"><a [routerLink]="['/profile/edit/relatives']" routerLinkActive="router-link-active" ><i class="bi bi-pencil-square"></i></a></div>
            <div *ngIf="user.role=='pharmacist'"><a [routerLink]="['/profile/edit/pharmacist']" routerLinkActive="router-link-active" ><i class="bi bi-pencil-square"></i></a></div>
            <div *ngIf="user.role=='patient'"><a [routerLink]="['/profile/edit/patient']" routerLinkActive="router-link-active" ><i class="bi bi-pencil-square"></i></a></div>
            <div *ngIf="user.role=='doctor'"><a [routerLink]="['/profile/edit/doctor']" routerLinkActive="router-link-active" ><i class="bi bi-pencil-square"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>