<div class="nav  ">
<div class="color m card-body">
    <span class="text" ><a routerLink="/home"   >دارویار</a><i class="bi bi-arrow-left color mr-2 ml-2"></i>   دارو ها </span>
</div>
</div>

<div class="width">
<div class="card  form mt-0 w d-flex flex-row">
  <div class="card-body " >
    <div class="row">
            <div class="col-sm-12 " >
              <div class="form-group">
    
                <input type="text" (keyup)="getDrug($event)"  class="form-control form-control-lg form-control-solid" placeholder="جست و جو بر اساس نام">        
              </div>
            </div>
        </div>
        </div>
    <div class="card-body " >
<div class="row">
        <div class="col-sm-12 " >
          <div class="form-group">

            <input type="text" (keyup)="getDrugbyname($event)"  class="form-control form-control-lg form-control-solid" placeholder=" جست و جو دارو کد دارو">        
          </div>
        </div>
    </div>
    </div>
</div>

  
<div  class="container mt-12">
    <div class="row ">
      <div *ngFor="let item of drugList" class="col-lg-12 d-flex flex-row justify-content-around">
        <div class="card row  d-flex flex-row" [routerLink]="['/drugs/',item.ATCC_code]" >
            <div class="card-body  col-lg-6 Text-align">
              <p class="card-text  text">  - کد دارو : {{item.ATCC_code}}</p>
              <p class="card-text text"> - نام دارو : {{item.drug_name}} </p>
            
            </div>
            <div class="card-body col-lg-6  Text-align ">
              <p class="card-text  text"> - مقدار دارو :{{item.strengh}}</p>
              <p class="card-text  text"> - طعم : {{item.salt}}</p>
            </div>
            <div class="card-body col-lg-6 Text-align">
              <p class="card-text text ">  - شکل دارو : {{item.dosage_form}}</p>
              <p class="card-text  text"> - روش مصرف :  {{item.route_of_use}}</p>
            </div>
            <div class="card-body col-lg-6 Text-align">
              <p class="card-text  text">  - ترکیبات دارو : {{item.ingredient}}</p>
              <p class="card-text  text"> - مصرف پزشکی  مجاز :  {{item.approved_clinical_indications}}</p>
            </div>
            <div class="card-body col-lg-6 Text-align">
              <p class="card-text text ">  -   سطح دسترسی دارو: {{item.access_level}}</p>
              <p class="card-text  text">    - توضیحات :  {{item.remarks}}</p>
            </div>
            <div class="card-body col-lg-6 Text-align">
              <p class="card-text  text">   - تاریخ : {{item.date}}</p>
            </div>
          </div>
      </div>
      
    </div>
    <div class="font" *ngIf="status">نتیجه ای یافت نشد</div>
  </div>
</div>